@import 'assets/fontawesome/scss/fontawesome.scss';

$color-blue: hsl(566%, 50%, 20%);
$color-navigation: hsl(10%, 80%, 80%);

.container {
  padding-top: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $color-blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: $color-navigation;
  display: flex;
}

.jumbotron {
  background-color: $color-navigation;
}

.card-body {
  background-color: $color-navigation;
}

.fas.fa-paw{
  height: 30px;
  width: 30px;
}

.btn.btn-primary {
  background-color: $color-blue;
  border-color: $color-blue;
  font-family: fantasy;
  color: $color-navigation;
}
